# Backend API Base URL (Leave empty if serving behind reverse proxy on same domain)
REACT_APP_BACKEND_URL=http://localhost:8000

# Webpack Dev Server Socket Port
WDS_SOCKET_PORT=0

# Enable Custom Healthcheck Plugin
ENABLE_HEALTH_CHECK=false
